* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}

body{
    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(22, 19, 19);
    padding: 30px;
}

img{
    margin-top: 30px;
    height: 650px;
    border:none;
    border-radius: 30px;
}

h2{
    color: royalblue;
   font-size: 30px;
   margin-top: 20px;
}

button{
    color: white;
    margin-top: 20px;
    background-color: royalblue;
    border:none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 25px;
    padding: 10px 40px;
}