
@font-face {
    font-family: roo;
    src: url(./Kugile_Demo.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-image: url(https://i.pinimg.com/736x/6a/2d/42/6a2d422f1ebdf9b9d4f499c549194497.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 80px;
}

h1{
    font-size: 250px;
    color:rgb(100, 224, 98);
    font-family: roo;
    font-style: italic;
}

button{
    margin: 40px;
    font-size: 80px;
    font-weight: 600;
    padding: 15px 30px;
    background-color: rgb(105, 216, 74);
    border:2px solid rgb(233, 192, 192);
    border-radius: 40px;
    color: rgb(92, 170, 237);
}