
@font-face {
    font-family: roo;
    src: url(./Kugile_Demo.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-image: url(https://4xwallpapers.com/wp-content/uploads/2023/11/download-rohit-sharma-wallpaper-with-arms-crossed-for-computer-2400x1602-1.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 80px;
}

h1{
    font-size: 250px;
    color:rgb(185, 51, 14);
    font-family: roo;
    font-style: italic;
}

button{
    margin: 40px;
    font-size: 80px;
    font-weight: 600;
    padding: 15px 30px;
    background-color: rgb(230, 219, 219);
    border:2px solid rgb(233, 192, 192);
    border-radius: 40px;
    color: rgb(92, 170, 237);
}